.breadContainer{
    .ant-breadcrumb-link{
        font-size: 18px;
        line-height: 25px;
        color:#445870;
        a{
         color:#445870;   
        }
     }
     .ant-breadcrumb-separator{
         font-size: 18px;
         line-height: 25px;
     }
}
