.header {
  .logo {
    width: 200px;
    height: 30px;
    line-height: 30px;
    margin: 17px 28px 17px 0;
    img {
      height: 30px;
      display: inline-block;
      vertical-align: middle;
    }
    .logo_text {
      color: white;
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;
      margin: 0 0 0 12px;
      font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
      font-weight: 400;
    }
  }
  &.ant-layout-header {
    padding-left: 20px;
  }
  .header-login-user {
    float: right;
  }
}
